[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
docker = "*"
flask-sqlalchemy = "*"
flask-compress = "*"
flask-migrate = "*"
flask-script = "*"
flask-wtf = "*"
gunicorn = "*"
redis = "*"
requests = "*"
flask-restplus = "*"
pymysql = "*"
flask-jwt-extended = "*"
flask-cors = "*"
python-docker-machine = "*"

[requires]
python_version = "3.7"
